<div id="contact-list">
	<label>The List of Contacts</label><br/>
		<i>Name, Email, Phone, Postal Code</i>
		<div data-field="list">
			<div data-field="contact" class="contact">
				<span style="display: inline" class="name" title="Name">Name</span>,
				<span style="display: inline" class="email" title="Email">Email</span>,
				<span style="display: inline" class="phone" title="Phone">Phone</span>,
				<span style="display: inline" class="postalCode" title="PostalCode">Postal Code</span>
			</div>
		</div>
	<button id="newcontact">New Contact</button>
</div>