<div id=form-newcontact>
    <label>New Contact</label>


    <script language="Javascript">
        function validacaoEmail(field) {
        usuario = field.value.substring(0, field.value.indexOf("@"));
        dominio = field.value.substring(field.value.indexOf("@")+ 1, field.value.length);
        if ((usuario.length >=1) &&
            (dominio.length >=3) &&
            (usuario.search("@")==-1) &&
            (dominio.search("@")==-1) &&
            (usuario.search(" ")==-1) &&
            (dominio.search(" ")==-1) &&
            (dominio.search(".")!=-1) &&
            (dominio.indexOf(".") >=1)&&
            (dominio.lastIndexOf(".") < dominio.length - 1)) {
        document.getElementById("msgemail").innerHTML="E-mail válido";
        alert("email valido");
        }
        else{
        document.getElementById("msgemail").innerHTML="<font color='red'>Email inválido </font>";
        alert("E-mail invalido");
        }
        }
    </script>

<form name="f1">
	<br>
	
    <label for="name">Name</label>
    <input id="name" type="text" placeholder="Enter name">
    
    <br>

    <label for="email">Email</label>
    <input id="email" type="text" name="email" onblur="validacaoEmail(f1.email)" placeholder="Enter email">
    
    <br>

    <label for="phone">Phone</label>
    <input id="phone" type="text" placeholder="Enter phone">

    <br>

    <label for="postalCode">Postal Code</label>
    <input id="postalCode" type="text" placeholder="Enter postal code">
    
    <button id="create">Create Contact</button>

    <div id="msgemail"></div>
</form>
</div>